body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url(OdetteNight.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 0px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.loginbox input{
    width: 80%;
    margin-bottom: 20px;
    transform: translate(12.5%, 0%);
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0000FF;
    color: #fff;
    font-size: 18px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #00FFFF;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-left: 7.5%;
}

.loginbox a:hover{
    color: #6a0dad;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: #0000FF;
    margin-bottom: 2%;
}